/* RESET  */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* RESET  */



/* +++++  DEBUG  +++++  */

/* +++++  /DEBUG  +++++  */




/* +++++  COMMON  +++++  */
.testa, .menu, .piede, .riga, .grande, .right-scuro {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* +++++  /COMMON  +++++  */



/* +++++ BODY +++++  */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* +++++ /BODY +++++  */



/* +++++  HEADER  +++++ */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.menu {
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 12px;
}

a.accedi {
    color: black;
    padding: 10px 15px;
    background-color: white;
    border-radius: 15px;
}

a.download {
    color: white;
    padding: 10px 15px;
    background-color: black;
    border-radius: 15px;
}

.menu {
    width: 80%;
}

.logo, .login{
    min-width: 150px;
}

.login {
    text-align: right;
}

.link {
    flex-grow: 1;
    text-align: center;
}

.info-piede {
    width: 40%;
    text-align: center;
    color: white;
    margin-bottom: 80px;
}

.infopiede {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 25px;
}


/* +++++  /HEADER  +++++ */




/* +++++  MAIN  +++++  */
.riga {
    padding-bottom: 100px;
}

.container {
    display: flex;
    justify-content:space-around;
    align-items: stretch;
    width: 80%;
    margin-top: 80px;
}

img {
    max-width: 100%;
}

.left {
    width: 60%;
    text-align: right;
}

.right {
    padding-top: 35px;
    width: 40%;
    text-align: left;
}

.grande {
    background-color: #f5f5f5;
}

h2 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}

.corpo {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.contenuto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.violet {
    color: white;
    margin-top: 40px;
    padding: 10px 15px;
    background-color: #7289da;
    border-radius: 15px;
}
/* +++++  /MAIN  +++++  */




/* +++++ REVERSE +++++  */
.reverse {
    background-color: #f5f5f5;
}

/* +++++ /REVERSE +++++  */




/* +++++  FOOTER  +++++ */

/* +++++ FOOTER NAVIGA +++++ */
footer {
    background-color: #23272a;
}

.riga-scura {
    display: flex;
    justify-content: center;
    background-color: #23272a;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
    /* margin-bottom: 20px; */
}

.container-scuro {
    display: flex;
    justify-content:space-around;
    align-items: stretch;
    width: 60%;
    height: 80%;
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #7289da;
}

.left-scuro {
    width: 25%;
}

h4 {
    margin-bottom: 10px;
}

h4, h5 {
    color: #7289da;
    text-align: left;
}

.immagine {
    width: 10%;
    height: 10%;
    display: inline-block;
}

.footer-piccolo {
    color: white;
    font-size:10px;
    display: inline-block;
}

.right-scuro {
    flex-grow: 2;
    color: white;
    font-size: 8px;
    align-items: stretch;
}

h5 {
    font-size: 11px;
}

.sezione {
    width: calc(100% / 4);
}

ul {
    list-style: none;
    padding-left: 0;
}

ul > a {
    font-size: 10px;
}

.social{
    color: white;
    font-size: 12px;
}

/* +++++ /FOOTER NAVIGA +++++ */



/* +++++ FOOTER CHIUSURA +++++ */
.chiusura {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 19%;
    background-color: #23272a;
}

.info-chiusura {
    width: 60%;
    height: 60%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-rosa, .button {
    background-color: #ffb6c1;
    min-width: 10%;
    text-align: center;
}

/* +++++ /FOOTER CHIUSURA +++++ */


/* +++++  /FOOTER  +++++ */